.container{
  margin-top: 70px;
}

.container square-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/800x600/?gaming') center/cover fixed;
    color: white;
    
  }

  .card {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }

  .card-header {
    border-bottom: none;
    text-align: center;
    font-size: 24px;
  }

  .card-body {
    padding: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn-login {
    background-color: #1a73e8;
    color: white;
    border: none;
  }

  .btn-login:hover {
    background-color: #1257a3;
  }

  .btn-create-account {
    color: #1a73e8;
  }

  .btn-create-account:hover {
    text-decoration: underline;
  }

  label{
    color: aliceblue;
  }
  h1{
    margin-left: 50px;
    color: rgba(17, 228, 210, 0.856);
  }